<div class="top-row ps-3 navbar navbar-dark">
    <div class="">
        <svg viewBox="0 0 30 30" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M20 6H4M12 4V6M8.09644 9.97913C8.57485 11.5543 9.5083 14.0975 12.1436 16.3939M12.1436 16.3939C13.7257 17.7725 15.9213 19.0622 19 20M12.1436 16.3939C15.2395 13.2458 17.069 8.77021 17.069 6M12.1436 16.3939C10.2105 18.3596 7.78358 19.8078 5 20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </svg>
        <a class="navbar-brand" href="">WoRe</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Library
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>