.default-card {
    background: white;
    border-radius: 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    transition: 0.3s;
}

.default-card:hover {
    transform: scale(1.01); 
}

h2 {
    transition: color 0.2s linear;
}

.default-card:hover h2 {
    color: #9200f7;
}

.default-card-body {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-content{
    min-width: 500px;  
}

.main-title{
    font-size: 24px;
    color: var(--main-color)
}
