@page "/edit-set/{Id}"

@using WoRe.Core.Interfaces
@using WoRe.Core.Kernel.Models
@using WoRe.UI.Components.Features.Flashcards;

<section class="d-flex flex-column">
    <FlashsetEditor OperationType="Common.Enums.OperationType.Update"
                    FlashcardSet="flashcard"
                    FlashcardSetSaved="HandleClick">
    </FlashsetEditor>
</section>

@code {
    [Parameter]
    [SupplyParameterFromQuery] 
    public string Id { get; set; }

    [Inject]
    public IFlashcardService FlashcardService { get; set; }
    
    [Inject]
    public NavigationManager Navigation { get; set; }
    
    [Inject] 
    protected ToastService ToastService { get; set; } = default!;

    private FlashcardSetCreate flashcard;


    protected override async Task OnInitializedAsync()
    {
        var result = await FlashcardService.GetSetForEditByIdAsync(Guid.Parse(Id));
        if(result.IsError)
            Console.WriteLine("erorr");
        flashcard = result.Value;
        await base.OnInitializedAsync();
    }

    private async Task HandleClick()
    {
        var updateDto = new FlashcardSetUpdate(Guid.Parse(Id), flashcard);
        var result = await FlashcardService.UpdateSetAsync(updateDto);
        
        if (result.IsError)
        {
            ToastService.Notify(new(ToastType.Danger, $"Ошибка при обновлении набора"));
            
        }
        else
        {
            ToastService.Notify(new(ToastType.Success, $"Flashcard set successfully updated"));
            Navigation.NavigateTo("/");
        }
       
    }
}